ion-content {
  --background: linear-gradient(to bottom right, #0b000b, #1a0023);
}

.container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 80%;
}

.text {
  font-size: 4rem;
  font-weight: bold;
  color: white;
  text-align: left;
}
