<ion-content>
  <div class="fd-page" *ngIf="loaded">
    <header class="page-head">
      <p class="fd-kicker">The Archive</p>
      <h1 class="fd-headline headline">
        {{ topics.length | number }} topic{{ topics.length === 1 ? '' : 's' }}
        scored by AI
      </h1>
    </header>

    <table>
      <thead>
        <tr>
          <th (click)="sortBy('title')">
            Topic <span class="arrow">{{ arrowFor('title') }}</span>
          </th>
          <th (click)="sortBy('insertMs')">
            Created <span class="arrow">{{ arrowFor('insertMs') }}</span>
          </th>
          <th (click)="sortBy('modifiedMs')">
            Updated <span class="arrow">{{ arrowFor('modifiedMs') }}</span>
          </th>
          <th class="num" (click)="sortBy('runs')">
            Runs <span class="arrow">{{ arrowFor('runs') }}</span>
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let topic of topics" (click)="navigateToTopic(topic.id)">
          <td class="name">
            <span class="dot" [style.background]="topic.color"></span
            >{{ topic.title }}
          </td>
          <td class="mono">{{ topic.formattedInsertTime }}</td>
          <td class="mono">{{ topic.formattedModifiedTime }}</td>
          <td class="mono num">{{ topic.runs }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <fd-footer *ngIf="loaded"></fd-footer>
</ion-content>
